.NavigationItem {
  margin: 0 2.5rem;
  font-family: "lato", serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 7px;
}

.NavigationItem a {
  color: #A50002;
  text-decoration: none;
  position: relative;
}
.NavigationItem a:hover {
  color: #ffb700;
}

.NavigationItem > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffb700;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.NavigationItem > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.CartItem {
  flex-grow: 1;
  font-size: 20px;
  margin:0 5px;
}
.CartItem a {
  float: right;
  display: block;
  margin:0;
  padding: 0;
}
